# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

**/*.angular/cache
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
projects/*/www/
/www
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
/.node-version

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

environment.local.ts

bugreport*

# E2E
report.xml
/projects/green/test/emails
/projects/green/test/logs


.DS_Store